<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container pt-5">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>

  <!-- With defaultBGColor, defaultColor... we are doing property binding -->
  <!-- <p appHighlight [defaultBGColor]="'yellow'" [defaultColor]="'black'" [highlightBGColor]="'red'" [highlightColor]="'lightgrey'">
    Style me with a custom directive
  </p> -->
  
</div>
