<!-- <p>recipe-item works!</p> -->
<a 
    href="#" 
    class="list-group-item pt-2 px-2 clearfix" 
    (click)="onSelected()"
    appHighlight
>
    <div class="float-start">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <span class="float-end">
        <!-- Method 1 - Using String interpolation -->
        <!-- <img 
            src="{{ recipe.imagePath }}" 
            alt="{{ recipe.name }}" 
            class="img-fluid" 
            style="max-height: 50px;"
        > -->

        <!-- Method 2 - Using property binding -->
        <img 
            [src]="recipe.imagePath" 
            [alt]="recipe.name" 
            class="img-fluid" 
            style="max-height: 50px;"
        >
    </span>
</a>