<div class="container pt-5">
	<h1>Please enter your details</h1>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-6">
			<hr>
			<form 
				class="d-flex flex-column gap-3"
				[formGroup]="signupForm"
				(ngSubmit)="onSubmit()"
			>
				<!-- Group 1 for username-->
				<div 
					class="d-flex flex-column gap-3"
					formGroupName="username"
				>
					<div class="form-group">
						<label for="firstname">First Name</label>
						<input
							class="form-control"
							type="text"
							id="firstname"
							formControlName="firstname"
						>
						<div *ngIf="signupForm.get('username.firstname')?.touched && signupForm.get('username.firstname')?.invalid">
							<small 
								class="form-text text-danger"
								*ngIf="signupForm.get('username.firstname').errors['required']">
								This field is required!
							</small>
							<small 
								class="form-text text-danger"
								*ngIf="signupForm.get('username.firstname').errors['minlength']">
								First name must be minimally 3 characters long
							</small>
							<small 
								class="form-text text-danger"
								*ngIf="signupForm.get('username.firstname').errors['nameIsForbidden']">
								This name is invalid!
							</small>
						</div>
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label>
						<input
							class="form-control"
							type="text"
							id="lastname"
							formControlName="lastname"
						>
						<div *ngIf="signupForm.get('username.lastname')?.touched && signupForm.get('username.lastname')?.invalid">
							<small 
								class="form-text text-danger"
								*ngIf="signupForm.get('username.lastname').hasError('required')">
								This field is required!
							</small>
							<small 
								class="form-text text-danger"
								*ngIf="signupForm.get('username.lastname').hasError('minlength')">
								Last name must be minimally 3 characters long
							</small>
						</div>
					</div>
				</div>
				<!-- Group 2 - for email -->
				<div class="form-group">
					<label for="email">Email</label>
					<input
						class="form-control"
						type="text"
						id="email"
						formControlName="email"
					>
					<small 
						class="form-text text-danger"
						*ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('required')">
						Please enter your email
					</small>
					<small 
						class="form-text text-danger"
						*ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('email')">
						Please enter a valid email
					</small>
				</div>
				<!-- Group 3 - for gender -->
				<div class="radio" *ngFor="let gender of genders">
					<label>
						<input
							class="me-3"
							type="radio"
							[value]="gender"
							formControlName="gender"
						>{{ gender }}
					</label>
				</div>
				<!-- Group 4 - for hobbies -->
				<div 
					class="d-flex flex-column gap-3"
					formArrayName="hobbies"
				>
					<label for="hobbies">Hobbies</label>
					<div>
						<button 
							class="btn btn-outline-warning rounded-pill py-2 px-4" 
							type="button"
							(click)="onAddHobby()"
						>Add Hobby
						</button>
					</div>
					<div
						class="form-group"
						*ngFor="let hobbyControl of getControls(); let i = index"
					>
						<input 
							class="form-control"
							type="text"
							[formControlName]="i"
						>
					</div>
				</div>
				<!-- Final submit button -->
				<div class="align-self-end">
					<button 
						class="btn btn-primary rounded-pill py-2 px-4" 
						type="submit"
						[disabled]="!signupForm.valid"
					>Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
