<div class="row">
    <div class="col-md-5">
        <!-- Rmb, $event is the data we passed with an event -->
        <app-recipe-list
            (recipeWasSelected)="selectedRecipe=$event"
        ></app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- Here, we use *ngIf because I only want to display it if selectedRecipe is set. -->
        <app-recipe-detail
            *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe"
        ></app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a recipe!</p>
        </ng-template>
    </div>
</div>
